/*此文件中包含所有页面都共用的全局css*/
* {   /*选择所有的元素*/
	/*box-sizing: content-box;内容盒子*/
	box-sizing: border-box;
	
}
body{
	margin:0;
	color: #555;
	background: #fff;
	font-size: 12px;		/*默认字体大小*/
	line-height: 1.667;		/*行高1.667em;*/
	font-family: "arial, helvetica, sans-serif";		/*字体*/
}
a{
	color: #555;
	text-decoration: none;
}
a:hover{
	color: #f60;
}
ol,
ul{
	margin: 0;/*清楚浏览器为列表自动添加的样式*//*清楚浏览器为ul自动添加的样式*/
	padding: 0;/*清楚浏览器为列表自动添加的样式*/
}
li{
	list-style: none;/*清除列表项前的提示符号*/
	/*修改列表项前的提示符合*/
	/*list-style: disc; 圆饼*/
	/*list-style: decimal; 数字*/
	/*list-style: circle;圆圈*/
	/*list-style: none;取消提示符*/
}